public/ui.html
<!doctype html><html lang="ru"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"><title>РШУ</title><meta name="robots" content="index, follow"><link href="assets/css/main.css" rel="stylesheet"></head><body style="visibility:hidden"><main><div class="container u-flex u-flex-col u-ais" style="padding-top:112px;padding-bottom:112px;border-bottom:1px solid #bfc9d8;display:grid;grid-gap:20px"><div class="t-h1">Заголовок H1</div><div class="t-h2">Заголовок H2</div><div class="t-h5">Заголовок H5</div><div class="sub-t1">Sub medium 14</div><div class="sub-t2">Sub medium 12</div><div class="sub-t2-l">Sub 12</div><div class="label">Label</div></div><div class="container u-flex u-flex-col u-ais" style="padding-top:112px;padding-bottom:112px;border-bottom:1px solid #bfc9d8;display:grid;grid-gap:20px;justify-content:start"><div class="t-h2">Элементы UI</div><button class="btn">Регистрация</button><ul class="pagination"><li class="pagination__item pagination__item--prev"><a href="#"><svg class="i-arrow-prev"><use xlink:href="#i-arrow-prev"></use></svg></a></li><li class="pagination__item is-active"><a href="#">1</a></li><li class="pagination__item"><a href="#">2</a></li><li class="pagination__item"><a href="#">3</a></li><li class="pagination__item"><a href="#">4</a></li><li class="pagination__item"><a href="#">...</a></li><li class="pagination__item"><a href="#">5</a></li><li class="pagination__item pagination__item--next"><a href="#"><svg class="i-arrow-next"><use xlink:href="#i-arrow-next"></use></svg></a></li></ul></div></main><script src="assets/js/vendors.js"></script><script src="assets/js/main.js"></script></body></html>

src/pages/ui.pug
extends ../templates/template.pug

block content
  .container.u-flex.u-flex-col.u-ais(style="padding-top: 112px; padding-bottom: 112px; border-bottom: 1px solid #BFC9D8;display: grid; grid-gap: 20px;")
    .t-h1 Заголовок H1
    .t-h2 Заголовок H2
    .t-h5 Заголовок H5
    .sub-t1 Sub medium 14
    .sub-t2 Sub medium 12
    .sub-t2-l Sub 12
    .label Label
  .container.u-flex.u-flex-col.u-ais(style="padding-top: 112px; padding-bottom: 112px; border-bottom: 1px solid #BFC9D8;display: grid; grid-gap: 20px; justify-content: start;")
    .t-h2 Элементы UI
    button.btn Регистрация
    +pagination
